* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: auto;
}

h1 {
  font-size: 3.8rem;
}

h3 {
  font-size: 1.4rem;
  color: hsl(236, 37%, 43%);
  font-weight: 700;

}

p {
  color: hsl(236, 26%, 43%);
  font-size: 1em;
}

button,
input {
  background: none;
  border: none;
}

section {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 4.5rem;
  position: relative;
}

header {
  background-color: hsl(236, 57%, 28%);
  background-image: url("../public/images/hero-bg-bottom.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-top: 10rem;
}

.intro {
  width: 40%;
  color: white;
}

.intro h1 {
  margin-bottom: 2rem;
}

.intro p {
  font-size: 16px;
  color: white;
  margin-bottom: 1.3rem;
}

.intro button {
  background: linear-gradient(90deg, hsl(335, 87%, 51%), hsl(29, 99%, 67%));
  border-radius: 0 25px;
  padding: 12px 35px;
  color: white;
  font-size: 1rem;
  font-weight: 100;
  margin-top: 17px;
}

.header-container img {
  max-width: 52%;
}

.cards-container {
  display: flex;
  justify-content: space-between;
}

.service-card {
  box-shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.1);
  width: 32%;
  padding: 2rem;
  text-align: center;
}

.service-card h3 {
  color: hsl(236, 37%, 43%);
  margin: 0;
}

.service-card p {
  margin-top: 20px;
}

.card-icon {
  margin: auto;
  display: grid;
  place-content: center;
  width: 52%;
  color: hsl(335, 85%, 62%);
  font-size: 2rem;
  background-image: url("../public/images/service-banner-pattern.png");
  background-color: hsla(335, 87%, 53%, 0.12);
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1 / 1;

}

.card-icon:hover {
  color: white;
  background-color: hsl(335, 77%, 57%);

}


.features-section {
  width: 75%;
}

.features-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;


}

.feature-container {
  width: 32%;
  text-align: center;

}

.feature-icon {
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(90deg, hsl(335, 87%, 51%), hsl(235, 39%, 57%));
  font-size: 2.8rem;
  color: white;
  display: grid;
  place-content: center;
}

.feature-container h3,
.feature-icon {
  margin-bottom: 0.5em;

}

.feature-icon:hover {
  background: none;
  color: hsl(335, 85%, 62%);
  font-size: 4rem;

}

.reviews-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.review-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.customer-review {
  box-shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.1);
  padding: 1.4rem;
  text-align: left;
  color: #8e8e8e;
  font-size: 0.9rem;
  border-radius: 7px;
  position: relative;
  margin-right: 2em;
}

.first,
.third,
.fifth {
  margin-top: 2.3rem;
}

.customer-review::after {
  border: 20px solid transparent;
  border-bottom: 0;
  border-top: 25px solid #fff;
  bottom: -17%;
  content: "";
  display: block;
  height: 0;
  left: 7%;
  position: absolute;
  width: 0;
}

.customer-details {
  width: 85%;
  display: flex;
  margin-top: 1.6rem;
  justify-content: flex-start;
  align-items: center;
}

.customer-details div {
  text-align: start;
  padding-left: 0.7em;
}

.customer-details img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.customer-name {
  font-weight: 600;
  margin-bottom: 0.5em;
}

.customer-job {
  color: #8e8e8e;
  font-weight: 600;
  font-style: italic;
  font-size: 0.9rem;
}

.title {
  color: hsl(236, 37%, 43%);
  margin-bottom: 5rem;
  font-weight: 800;
  font-size: 2rem;
}

.title::after {
  content: "";
  position: absolute;
  left: 44%;
  top: 135px;
  width: 100px;
  height: 6px;
  border-radius: 10px;
  background: linear-gradient(90deg, hsl(335, 87%, 51%), hsl(235, 39%, 57%));
}

.about-section .title::after {
  left: 0;
  top: 70px;
}

.about-section .title {
  margin-bottom: 3.8rem;
}

.about-section {
  display: flex;
  justify-content: space-between;
}

.about-wrapper {
  position: relative;
  width: 48%;
  text-align: start;

}

.about-section img {
  max-width: 48%;

}

.about-section p {
  margin-bottom: 13px;
}

.about-section .cards-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;

}

.about-section .cards-container div {
  box-shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.1);
  width: 32%;
  padding: 1rem;
  text-align: center;
  border-radius: 9px;

}

.cards-container h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: hsl(236, 37%, 43%);
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  position: fixed;
  box-shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.1);
  color: hsl(236, 57%, 28%);
  width: 100%;
  padding: 18px 0px;
  z-index: 1;
}

.logo {
  width: 40%;
  text-align: start;
  padding-left: 35px;
  font-weight: 800;
  font-size: 2.2rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  width: 30%;
  justify-content: space-around;
  font-weight: 600;
  font-size: 1.1rem;
}

footer {
  padding-top: 5.5rem;
  color: white;

}

footer p {
  color: white;
}

.footer-top {

  background-image: url('../public/images/hero-bg.png'), linear-gradient(90deg, hsl(335, 87%, 51%), hsl(235, 39%, 57%));
  display: flex;
  justify-content: space-around;
  padding: 4rem;
  padding-bottom: 2rem;

}

.footer-agency-section {
  width: 22.5%;
}

footer ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

footer li {
  padding-bottom: 20px;
}

.social-links {
  width: 40%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

}

.social-links div {
  font-size: 1.3rem;
}

footer h4 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer-agency-name {
  font-weight: 700;
  font-size: 2.2rem;
}

footer p {
  font-size: 1.1rem;

}

.communication-links>div {
  display: flex;
  margin-bottom: 20px;
}

.communication-icon {
  font-size: 0.9rem;
  padding-right: 20px;
}